.nav {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 5rem;
  width: 30rem;
  background-color: var(--blue);
  padding: 5rem 1rem 0 2rem;
}


.nav-links li {
  display: block;
  font-size: 2rem;
  padding-right: 2rem;

}

.nav-links ul, .nav-links li {
  display: block;
  padding: 2rem 0; 
  padding-left: 1rem;
}

.nav-links a {
  font-weight: 500;
  padding-left: 1rem;
}

.ul .nav-link {
  display: flex;
}

.nav-links .link-group {
  display: flex;
  align-items: center;
}

.link-group svg {
  color: white;
  width: 2rem;
}

.main-section {
  padding-left: 30rem;
  min-height: 95vh;
}

@media only screen and (max-width: 800px) {
  #menuButton {
    display: block;
  }


  .nav-links .closebtn {
    display: block;
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
  }

  .navss {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: var(--secondary-blue); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 60px 0; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .nav {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 10rem;
    padding: 5rem 1rem 0 2rem;
    width: 0rem;
    padding: 0;
    transition: 0.3s;
  }

  .nav-links a {
    color: white;
  }

  
  .main-section {
    padding-left: 0;
  }
}

#menuButton {
  display: block;
  font-size: 2rem;
  color: var(--blue);
}

@media only screen and (max-width: 800px) {
  .opennav {
    width: 28rem;
    padding: 5rem 1rem 0 2rem;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem;
}

th {
  font-weight: bold;
}

td, th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 2rem 0.8rem;
}

tr:nth-child(odd) {
  background-color: #eaeaea;
}


/* profile information */
/* Profile styling */
.profile {
  /* border: 1px solid var(--secondary); */
  padding: 2rem;
  max-width: 60rem;
}

.profile-image {
  background-color: var(--bg);
  text-align: center;
  width: 10rem;
  height: 10rem;
  margin: 2rem auto;
  border-radius: 5rem;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover;
}


.profile-image .bi {
  font-size: 8rem;
  color: var(--primary);
}

.profile-info {
  margin: 4rem 0;
}

.profile-heading {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--primary);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--yellow);
}

.profile-info-g {
  margin: 2rem 0;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
}

.profile-info-g .key {
  font-size: 1.6rem;
  color: var(--yellow);
  margin-bottom: 1rem;
}

.profile-info-g .value {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primary);
  /* margin: 2rem 0; */
}