<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
	</head>
	
	<style>
		html {
			font-family: 'Roboto', sans-serif;]
		}


		body {
			max-width: 1000px;
			background-color: aliceblue;
			margin: 0 auto;
		}

		.logo {
			width: 10rem;
			margin: 10px auto;
		}

		.logo img {
			width: 10rem;
		}

		.mail-heading {
			font-size: 22px;
		}

		.welcome {
			font-weight: bold;
			font-size: 16px;
		}

		p {
			font-size: 13px;
		}
	</style>

	<body>
		<div class="logo">
			<img src="http://127.0.0.1:8000/static/images/logo.png" alt="leeds-blue-02-02" border="0">
		</div>

		<h1 class="mail-heading">Hello {{first_name}} {{last_name}},</h1>

		<p class="welcome">
			Welcome to Leeds Brokerage - Your Trusted Crypto Investment Broker
		</p>
		
		<p class="mail-details">
			We are so glad you joined this great platform. You can start earning realistic returns on investment on our investment plans by following these 3 easy steps
		</p>

		<p>1. Fund Your Account (Deposit)</p>
		<p>2. Select an Investment Plan and wait for your Investment to Mature.</p>
		<p>3. Withdraw Your Funds Instantly.</p>
		
		
		<p>Thank You for Choosing Leeds Brokerage - Your Trusted Crypto Investment Broker.</p>
		<p>For Complaints and Suggestions, Kindly send an Email to support@leedsbrokerage.com</p>
		<p>© 2022 Leeds Brokerage - Your Trusted Crypto Investment Broker | All Rights Reserved</p>			
	</body>

</html>